* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
}

.card-wrapper {
    margin-top: 50px;
}

.card-container {
    perspective: 1200px;
}

.card-depth {
    transform: translateZ(100px) scale(0.98);
    perspective: inherit;
}

.card {
    margin: 0 auto;
    height: 350px;
    width: 350px;
    max-width: 80%;
    position: relative;
    border-radius: 25px;
    transition: all 1.5s ease;
    transform-style: preserve-3d;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
}

.card.rotated {
    transform: rotateY(-180deg);
}


.card-contents {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.card-contents h2,
.card-contents p {
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

.card-contents h2 {
    font-size: 2.5em;
    margin: 0 auto;
}

.card-contents hr {
    width: 50%;
    margin: 20px auto;
}

.card-contents p {
    margin: 0 auto;
}

.card-front {
    background: linear-gradient(to top left, #3a6186, #89253e);
    transform-style: preserve-3d;
}

.card-back {
    transform: rotateY(180deg);
    background: linear-gradient(to top left, #ffa17f, #00223e);
    transform-style: preserve-3d;
}